/* line 1, static/styles/article_detail.scss */
article {
  background-color: white;
  border-top: 40px solid white;
  border-bottom: 20px solid white;
  min-height: 60vh;
  font-family: "DIN Alternate";
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr; }

/* line 13, static/styles/article_detail.scss */
article > \* {
  grid-column: 3 / -3; }

/* line 18, static/styles/article_detail.scss */
article h1 {
  margin-top: 26px;
  font-size: 48px; }

/* line 23, static/styles/article_detail.scss */
article .description {
  margin-top: 22px;
  color: #666;
  font-size: 18px; }

/* line 30, static/styles/article_detail.scss */
article .extra-info {
  display: flex; }

/* line 34, static/styles/article_detail.scss */
article .author-info {
  margin-top: 24px;
  display: flex; }

/* line 39, static/styles/article_detail.scss */
article .author-info img {
  border-radius: 50%; }

/* line 43, static/styles/article_detail.scss */
article .author-info .author-name {
  vertical-align: text-top;
  text-align: start; }

/* line 48, static/styles/article_detail.scss */
article .article-extras {
  display: flex; }

/* line 53, static/styles/article_detail.scss */
article .thumbnail {
  margin-top: 64px;
  grid-column: 2 / -2; }

/* line 58, static/styles/article_detail.scss */
article .thumbnail img {
  height: auto;
  width: 100%; }

/* line 63, static/styles/article_detail.scss */
article blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black; }
