/* line 1, static/styles/article_detail.scss */
article {
  background-color: white;
  border-top: 32px solid white;
  border-bottom: 20px solid white;
  min-height: 60vh;
  font-family: "DIN Alternate"; }

/* line 11, static/styles/article_detail.scss */
article > \* {
  grid-column: 3 / -3; }

/* line 16, static/styles/article_detail.scss */
article h1 {
  margin-top: 26px;
  font-size: 48px;
  color: #004488; }

/* line 22, static/styles/article_detail.scss */
article .description {
  margin-top: 32px;
  color: #2d5883b3;
  font-size: 18px; }

/* line 32, static/styles/article_detail.scss */
article .extra-info {
  margin-top: 24px;
  display: flex;
  color: #2d5883b3; }

/* line 39, static/styles/article_detail.scss */
article .extra-info img {
  border-radius: 50%;
  object-fit: cover; }

/* line 45, static/styles/article_detail.scss */
article .extras {
  margin-left: 8px; }

/* line 49, static/styles/article_detail.scss */
article .extras .author-name {
  flex: 1 1 0%; }

/* line 53, static/styles/article_detail.scss */
article .extras .article-extras {
  margin-top: 8px; }

/* line 57, static/styles/article_detail.scss */
article .extras .article-extras span, time {
  margin-right: 8px; }

/* line 63, static/styles/article_detail.scss */
article .thumbnail {
  margin-top: 64px; }

/* line 68, static/styles/article_detail.scss */
article .thumbnail img {
  height: auto;
  width: 100%; }

/* line 73, static/styles/article_detail.scss */
article blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black; }
