/* line 1, static/styles/article_detail.scss */
article {
  background-color: white;
  border-top: 32px solid white;
  border-bottom: 20px solid white;
  min-height: 60vh;
  font-family: "DIN Alternate";
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr; }

/* line 13, static/styles/article_detail.scss */
article > \* {
  grid-column: 3 / -3; }

/* line 18, static/styles/article_detail.scss */
article h1 {
  margin-top: 26px;
  font-size: 48px; }

/* line 23, static/styles/article_detail.scss */
article .description {
  margin-top: 32px;
  color: #c9e3fc;
  font-size: 18px; }

/* line 33, static/styles/article_detail.scss */
article .extra-info {
  margin-top: 32px;
  display: flex;
  color: #666; }

/* line 40, static/styles/article_detail.scss */
article .extra-info img {
  border-radius: 50%;
  object-fit: cover; }

/* line 46, static/styles/article_detail.scss */
article .extras {
  margin-left: 8px; }

/* line 50, static/styles/article_detail.scss */
article .extras .author-name {
  flex: 1 1 0%; }

/* line 54, static/styles/article_detail.scss */
article .extras .article-extras {
  margin-top: 8px; }

/* line 58, static/styles/article_detail.scss */
article .extras .article-extras span, time {
  margin-right: 8px; }

/* line 64, static/styles/article_detail.scss */
article .thumbnail {
  margin-top: 64px;
  grid-column: 2 / -2; }

/* line 69, static/styles/article_detail.scss */
article .thumbnail img {
  height: auto;
  width: 100%; }

/* line 74, static/styles/article_detail.scss */
article blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black; }
