/* line 1, static/styles/article_detail.scss */
article {
  background-color: white;
  border-top: 32px solid white;
  border-bottom: 20px solid white;
  min-height: 60vh;
  font-family: "DIN Alternate";
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr; }

/* line 13, static/styles/article_detail.scss */
article > \* {
  grid-column: 3 / -3; }

/* line 18, static/styles/article_detail.scss */
article h1 {
  margin-top: 26px;
  font-size: 48px;
  color: #004488; }

/* line 24, static/styles/article_detail.scss */
article .description {
  margin-top: 32px;
  color: #6ba6e0a5;
  font-size: 18px; }

/* line 34, static/styles/article_detail.scss */
article .extra-info {
  margin-top: 32px;
  display: flex;
  color: #6ba6e0a5; }

/* line 41, static/styles/article_detail.scss */
article .extra-info img {
  border-radius: 50%;
  object-fit: cover; }

/* line 47, static/styles/article_detail.scss */
article .extras {
  margin-left: 8px; }

/* line 51, static/styles/article_detail.scss */
article .extras .author-name {
  flex: 1 1 0%; }

/* line 55, static/styles/article_detail.scss */
article .extras .article-extras {
  margin-top: 8px; }

/* line 59, static/styles/article_detail.scss */
article .extras .article-extras span, time {
  margin-right: 8px; }

/* line 65, static/styles/article_detail.scss */
article .thumbnail {
  margin-top: 64px;
  grid-column: 2 / -2; }

/* line 70, static/styles/article_detail.scss */
article .thumbnail img {
  height: auto;
  width: 100%; }

/* line 75, static/styles/article_detail.scss */
article blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black; }
