{% load static %}

<div class="articles">
    {% for article in articles %}
    <article>
        <div class="article-info">
            <header>
                <h2>
                    <a href="/articles/{{ article.slug }}/">
                        {{ article.title }}
                    </a>
                </h2>
            </header>

            <p>
                {{ article.description }}
            </p>

            <div class="article-extras">
                <i class="fa fa-clock-o"></i>

                <span>{{ article.time_to_read }} min. read </span>

                <time datetime="{{ article.created_at |date:"U" }}"> 
                    {{ article.created_at }}
                </time>

                <span>
                    {{ article.category.title }}
                </span>
            </div>
        </div>

        <a href="/articles/{{ article.slug }}/" class="thumbnail">
            <img src="{% get_media_prefix %}{{ article.thumbnail }}" alt="{{ article.title }}" />
        </a>

    </article>
    {% endfor %}

</div>