{% load static %}

<header class="header" id="header">
    <a href="/" class="title">
        <img class="logo" src="{% static "logo.png" %}" height="35px">
        <h1>CS Elite</h1>
    </a>

    <nav class="navigation-bar">
        <button class="scroll-buttons" id="previous">
            <i class="fa fa-arrow-left scroll-icons" aria-hidden="true"></i>
        </button>

        <ul id="categories-list">
            {% for category in categories %}
            <li><a href="/categories/{{ category.slug }}"> {{ category.title }} </a></li>
            {% endfor %}
        </ul>

        <button class="scroll-buttons" id="next">
            <i class="fa fa-arrow-right scroll-icons" aria-hidden="true"></i>
        </button>
    </nav>
</header>