<footer class="pages">

    {% if page_obj.has_previous %}
        {% for page in previous_pages_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}
    {% endif %}


    {% if page_obj.has_previous or page_obj.has_next %}

        <a href="#" class="current">
            {{ page_obj.number }}
        </a>
    {% endif %}


    {% if page_obj.has_next %}
        {% for page in next_pages_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}
    {% endif %}
</footer>