/* line 2, articles/static/styles/articles.scss */
.main {
  background-color: white;
  border-top: 40px solid white;
  border-bottom: 20px solid white;
  padding-left: 5%;
  width: inherit;
  min-height: 60vh; }
  /* line 9, articles/static/styles/articles.scss */
  .main h1 {
    font-family: "DIN Alternate";
    font-size: 35px;
    color: #004488; }
  /* line 14, articles/static/styles/articles.scss */
  .main h2 {
    font-family: "DIN Alternate";
    font-size: 25px;
    color: #004488; }
  /* line 19, articles/static/styles/articles.scss */
  .main .pages {
    display: inline-block; }
    /* line 21, articles/static/styles/articles.scss */
    .main .pages a {
      border-radius: 5px;
      color: #697784;
      font-family: "DIN Alternate";
      float: left;
      padding: 8px 16px;
      margin-right: 2px;
      margin-bottom: 8px;
      text-decoration: none; }
      /* line 31, articles/static/styles/articles.scss */
      .main .pages a:hover:not(.current) {
        background-color: #ddd; }
    /* line 36, articles/static/styles/articles.scss */
    .main .pages .current {
      background-color: #004488;
      color: white; }

/* line 44, articles/static/styles/articles.scss */
.cateogry-header hr {
  border-top: 1px solid #004488;
  margin: 5px 5% 38px auto; }

/* line 49, articles/static/styles/articles.scss */
article {
  display: flex;
  margin-bottom: 20px; }
  /* line 52, articles/static/styles/articles.scss */
  article .article-info {
    margin-right: 5%; }
  /* line 55, articles/static/styles/articles.scss */
  article a {
    text-decoration: none;
    color: #004488;
    font-family: "DIN Alternate";
    font-size: 30px; }
  /* line 61, articles/static/styles/articles.scss */
  article p {
    font-family: "DIN Condensed";
    font-size: 18px;
    color: #004488A7;
    margin-top: 10px;
    margin-bottom: 10px; }
  /* line 68, articles/static/styles/articles.scss */
  article i {
    color: #004488A7; }
  /* line 71, articles/static/styles/articles.scss */
  article span {
    font-family: "DIN Condensed";
    font-size: 15px;
    color: #004488A7;
    margin-right: 5px; }
  /* line 78, articles/static/styles/articles.scss */
  article time {
    font-family: "DIN Condensed";
    font-size: 15px;
    color: #004488A7;
    margin-right: 5px; }
  /* line 85, articles/static/styles/articles.scss */
  article .thumbnail {
    margin-left: auto;
    margin-right: 5%; }
    /* line 88, articles/static/styles/articles.scss */
    article .thumbnail img {
      height: 8vw;
      width: 12vw;
      min-height: 80px;
      min-width: 120px;
      object-fit: cover; }
