/* line 2, articles/static/styles/aside.scss */
aside hr {
  border-top: 1px solid #004488;
  margin: 10px 5% 20px auto; }

/* line 6, articles/static/styles/aside.scss */
aside a {
  font-size: 18px; }

/* line 10, articles/static/styles/aside.scss */
aside .thumbnail img {
  height: 6vw;
  width: 9vw;
  min-height: 60px;
  min-width: 90px;
  object-fit: cover; }

/* line 19, articles/static/styles/aside.scss */
aside .latest-videos {
  padding-top: 30px; }
