.outer {
	background-color: white;
	padding: 0 4vw;
}
article {
	background-color: white;
	border-top: 32px solid white;
	border-bottom: 20px solid white;
	min-height: 60vh;
	font-family: "DIN Alternate";
	margin: 0 auto;
	max-width: 1040px;
	width: 100%;
	h1 {
		font-size: 48px;
		color: #004488;
	}
	.description {
		margin-top: 32px;
		color: #004488D7;
		font-size: 18px;
	}
	.extra-info {
		margin-top: 24px;
		display: flex;
		color: #004488D7;
		img {
			border-radius: 50%;
			object-fit: cover;
		}
	}
	.extras {
		margin-left: 8px;
		.author-name {
			flex: 1 1 0%;
		}
		.article-extras {
			margin-top: 8px;
			spantime {
				margin-right: 8px;
			}
		}
	}
	.thumbnail {
		margin-top: 64px;
		img {
			height: auto;
			width: 100%;
			aspect-ratio: 1.78;
			object-fit: cover;
		}
	}
	.article-text {
		padding: 4vw 6vw 0;
		color: #004488;
		font-family: "DIN Alternate";
		font-size: 1.3rem;
		line-height: 1.6em;
		min-height: 230px;
		margin-top: 36px;
	}
}
.article-text {
	>* {
		margin: 0 0 1.5em;
		text-decoration: none;
	}
	>blockquote {
		padding-left: 10px;
		color: #666;
		border-left: 3px solid black;
	}
}
