<!DOCTYPE html>

<html lang="en">

{% include "sections/head.html" %}

<body>
    {% include "sections/header.html" %}

    <main class="main row">
        
        <section class="latest-articles col-12 col-sm-8 col-md-8">

            <header class="cateogry-header">
                <h1>
                    {{ category.title }}
                </h1>
        
                <hr>
            </header>
        

            {% include "sections/articles_list.html" %}

            {% include "sections/paging_footer.html" %}
        </section>
    </main>

    {% include "sections/footer.html" %}

</body>

</html>