{% load compress %}
{% load static %}

<!DOCTYPE html>

<html lang="en">



<head>

{% include "sections/head.html" %}

{% compress css %}
    <link type="text/x-scss" href="{% static 'styles/header.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'styles/main.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'styles/articles.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'styles/aside.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'styles/footer.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

    <title data-rh="true">CS Elite</title>
    <meta name="title" content="CS Elite">
    <meta name="description" content="CS Elite is a Blog where you can find tutorials for the most common programming languages like Java, Python, C/C++, and JavaScript. And Frameworks like Django, Node.js, and Flask. You can also find articles about concepts in Computer Science like Algorithms, Data Structure, and Operating Systems. CS Elite is created and maintained by Ahmed Emad.">

    <meta property="og:title" content="CS Elite" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'Banner.png' %}" />

</head>

<body>

    {% include "sections/header.html" %}

    <main class="main row">
        <section class="latest-articles col-12 col-sm-8 col-md-8">

            {% include "sections/articles_list.html" %}

            {% include "sections/paging_footer.html" %}
        </section>

        {% include "sections/aside.html" %}

    </main>

    {% include "sections/footer.html" %}

    <script src="{% static "js/headerScrollButtons.js" %}"/> </script>
    <script src="{% static "js/timeSince.js" %}"/> </script>
</body>

</html>