
.header {
	text-align: center;
	background: #004488;
	color: #c9e3fc;
	font-family: "DIN Alternate";
	font-size: 23px;
	box-shadow: 5px 5px 10px #00000010;
	width: 100%;
	position: sticky;
	top: 0;


	.title {
		display:flex;
		justify-content:center;
		align-items:center;
		text-decoration: none;
		color: inherit;
	}

	.logo {
		margin-right: 12px;
	}
}

.navigation-bar {
	font-family: "DIN Alternate";
	font-size: 16px;
	background-color: white;
}
nav {
	ul {
		list-style-type: none;
		overflow-x: scroll;
		display: flex;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	li {
		float: left;
	}
	a {
		display: block;
		color: black;
		opacity: 47%;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		width: max-content;
		&:hover {
			background-color: rgb(224, 224, 224);
		}
	}
}
ul {
	&::-webkit-scrollbar {
		display: none;
	}
}