
.header {
	text-align: center;
	background: #004488;
	color: #c9e3fc;
	font-family: "DIN Alternate";
	font-size: 23px;
	box-shadow: 5px 5px 10px #00000010;
	width: 100%;
	position: sticky;
	top: 0;


	.title {
		display:flex;
		justify-content:center;
		align-items:center;
		text-decoration: none;
		color: inherit;
	}

	.logo {
		margin-right: 12px;
	}
}

.navigation-bar {
	font-family: "DIN Alternate";
	font-size: 16px;
	background-color: white;
}
nav {

	display: flex;
	flex-direction: row;
	position: relative;
	

	.scroll-buttons {
		background-color: transparent;
    	background-repeat: no-repeat;
    	border: none;
    	cursor: pointer;
    	overflow: hidden;
    	outline: none;

		width: 17px;
		height: 17px;
	}

	#previous {
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		margin-left: 8px;
	}
	
	#next {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-right: 8px;
	}

	.scroll-icons {
		content: "";
		background-color: transparent;
		opacity: 47%;
		font-size: 12px;
		color: black;
	}

	ul {
		list-style-type: none;
		overflow-x: scroll;
		display: flex;
		-ms-overflow-style: none;
		scrollbar-width: none;

		width: calc(100% - 50px);
		margin: auto;
	}
	li {
		float: left;
	}
	a {
		display: block;
		color: black;
		opacity: 47%;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		width: max-content;
		&:hover {
			background-color: rgb(224, 224, 224);
		}
	}
}
ul {
	&::-webkit-scrollbar {
		display: none;
	}
}